@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-font {
    color: #222;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-transform: capitalize;
}

.content-wrapper {
    width: 1440px;
    background: #FAF4F2;
    justify-content: start;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

header {
    width: 1440px;
    align-items: start;
    gap: 167px;
    margin: 100px 176px 125px 182px;
}

/*.logo {*/
/*    color: #F9F9F9;*/
/*    font-size: 18px;*/
/*    font-weight: 500;*/
/*    position: absolute;*/
/*    top: 36px;*/
/*    left: 22px;*/
/*}*/

.header-info {
    width: 509px;
    align-items: start;
    flex-direction: column;
    margin: 12px 0 7px 0;
}

h1.core-font {
    width: 475px;
    font-size: 40px;
}

header > div > p {
    width: 509px;
    height: 144px;
    color: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 54px;
}

/**********************  header BUTTONS  *********************/

.icons-container {
    width: 240px;
    height: 48px;
    margin-bottom: 25px;
    justify-content: space-between;
}

.icons-container a {
    width: 48px;
    height: 48px;
}

.icons-container a img {
    transition: transform 0.3s ease;
}

.icons-container a img:hover {
    transform: scale(1.1);
}

.buttons-container {
    display: flex;
    gap: 30px;
}

.btn{
    width: 153px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #FF9B70;
    color: rgba(34, 34, 34, 0.50);
    font-size: 18px;
    font-weight: 500;
    background: #FAF4F2;
    transition: background 0.5s, color 0.5s, transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.btn:active {
    background: #FF2950;
    color: #F9F9F9;
}

.main {
    flex-direction: column;
}

/*section introduction*/

.introduction {
    width: 1140px;
    height: 519px;
    border-radius: 35px;
    background: #FF7315;
    margin-bottom: 125px;
}

.introduction img {
    margin: 93px 32px 97px 32px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 62px 76px 63px 0;
    gap: 19px;
}

.text-container p:nth-child(1) {
    color: #F9F9F9;
    font-size: 72px;
    font-weight: 600;
    line-height: 62px;
}

.text-container p:nth-child(2) {
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.introduction-title {
    color: #F9F9F9;
}

.text-container p:nth-child(4) {
    width: 570px;
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px; /* 187.5% */
}

/********************   section skills  *******************/

.skills {
    flex-direction: column;
}

.skills-cards {
    gap: 60px;
}

.skills-title {
    color: #222;
    margin-bottom: 100px;
}

.skills-card {
    flex-direction: column;
    width: 240px;
}

.skills-card img {
    margin-bottom: 51px;
}

.skills-card h4:nth-child(2) {
    color: #222;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 12px;
}

.skills-card p:nth-child(3) {
    color: rgba(34, 34, 34, 0.50);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/**************       section portfolio     *************/

.portfolio-title {
    margin: 125px 1087px 64px 150px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 0 231px 125px 231px;
    gap: 24px;
}

.portfolio-container a img {
    width: 310px;
    height: 300px;
    object-fit: cover;
}

.portfolio-container img {
    transition: transform 0.75s;
}

.portfolio-container img:hover {
    transform: scale(1.05);
}

/**************       section quotes     *************/

.quotes {
    width: 1440px;
    height: 643px;
    background: #FF7315;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 125px;
}

.quotes-title {
    width: 609px;
    color: #F9F9F9;
    text-align: center;
    margin: 48px 416px 111px 415px;
}

.quotes-container {
    gap: 82px;
}

.quote-one {
    width: 529px;
    height: 179px;
    border-radius: 30px;
    background: #F9F9F9;
    padding: 24px 55px 47px 55px;
}

.quote-two {
    width: 529px;
    height: 179px;
    border-radius: 30px;
    background: #F9F9F9;
    padding: 24px 55px 11px 55px;
}

.quote-one-text {
    width: 419px;
    height: 108px;
    color: #222;
    font-size: 24px;
    font-weight: 400;
}

.quote-two-text {
    width: 419px;
    height: 144px;
    color: #222;
    font-size: 24px;
    font-weight: 400;
}

/**************       section Price plans     *************/

.prices {
    flex-direction: column;
}

.prices-title {
    margin-bottom: 64px;
}

.price-cards-container {
    gap: 68px;
    margin-bottom: 100px;
}

.price-card {
    width: 335px;
    height: 500px;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.10);
}

.price-card-title {
    width: 335px;
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FF9B70;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.plan-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.price {
    color: #2B2B2B;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%; /* 39.552px */
    text-transform: capitalize;
    margin: 36px 12px 29px auto;
}

.prices h2 span {
    color: #2B2B2B;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    opacity: 0.5;
    margin: 47px 83px 34px 0;
}

.plan-features {
    list-style-type: none;
    margin-left: 48px;
}

.plan-features li {
    color: #222;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    text-transform: capitalize;
    margin-bottom: 16px;
    position: relative;
    padding-left: 40px;
}

.icon {
    position: absolute;
    left: 0;
}

.unchecked {
    opacity: 0.5;
}
/**************      email-container    *************/
.email-container {
    width: 1110px;
    height: 224px;
    border-radius: 25px;
    background: #FF7315;
    gap: 333px;
    margin-bottom: 125px;
}

.email-title {
    color: #F9F9F9;
    font-size: 36px;
    font-weight: 600;
    line-height: 60px; /* 172.222% */
    width: 343px;
    height: 124px;
    margin: 50px 0 50px 75px;
}

.email-button {
    width: 259px;
    height: 70px;
    border-radius: 10px;
    background: #F9F9F9;
    box-shadow: 0 0.927px 1.924px 0 rgba(0, 0, 0, 0.01);
    margin: 77px 100px 77px 0;
    color: #222;
    font-size: 24px;
    font-weight: 600;
}

.email-button:hover {
    background-color: #F5D6BA;
    cursor: pointer;
}

.email-button:active {
    background-color: #F0C3A8;
    transform: translateY(2px);
}
/**************      section Blog    *************/
.blog {
    flex-direction: column;
    margin-bottom: 125px;
}

.blog-title {
    width: 108px;
    height: 62px;
    margin: 0 1182px 48px 150px;
}

.blog-cards-container {
    gap: 20px;
}

.blog-card {
    width: 270px;
    height: 364px;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
    flex-direction: column;
    padding-top: 15px;
}

.blog-card-title {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    line-height: 123.6%; /* 19.776px */
    text-transform: capitalize;
    margin: 24px 0 12px 0;
}

.blog-card-description {
    width: 240px;
    height: 70px;
    color: rgba(34, 34, 34, 0.50);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px; /* 200% */
    text-transform: capitalize;
    margin-bottom: 57px;
}

.blog img {
    border-radius: 10px;
}
/**************      section footer    *************/
footer {
    width: 1440px;
    height: 170px;
    background: #F1F1F1;
}

footer p {
    color: #222;
    font-size: 18px;
    font-weight: 500;
}